<!DOCTYPE html>
<html>
<head>
    <title>AI Resume Analyzer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">
        <h1>🚀 AI Resume Analyzer</h1>

        <form method="POST">
<textarea name="resume" placeholder="Paste Resume" required>{{ resume }}</textarea>

<textarea name="job_desc" placeholder="Paste Job Description" required>{{ job_desc }}</textarea>

            <button type="submit">Analyze</button>
        </form>

      {% if result %}
    <div class="result-box">

        <h2>⭐ ATS Score: {{ result.ats_score }}%</h2>

        <div class="score-bar">
            <div class="score-fill" style="width: {{ result.ats_score }}%;"></div>
        </div>

        <h3>✅ Matched Keywords ({{ result.matched_keywords|length }})</h3>
        <ul>
            {% for k in result.matched_keywords %}
                <li>{{ k }}</li>
            {% endfor %}
        </ul>

        <h3>❌ Missing Keywords ({{ result.missing_keywords|length }})</h3>
        <ul>
            {% for k in result.missing_keywords %}
                <li>{{ k }}</li>
            {% endfor %}
        </ul>

        <h2>📄 Improved Resume</h2>
        <pre>{{ result.improved_resume }}</pre>

        <h2>💡 Suggestions</h2>
        <ul>
            {% for s in result.suggestions %}
                <li>{{ s }}</li>
            {% endfor %}
        </ul>

    </div>
{% endif %}
    </div>

</body>
</html>